* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
}

html {
	background-color: black;
	background-image: url("./background.jpg");
	width: 100%;
	height: 100%;
	
	background-position: 0% 0%;
	background-repeat: no-repeat;
	background-size: cover;
	
	-webkit-transition: background-position 1s ease-in-out;
	-moz-transition: background-position 1s ease-in-out;
	transition: background-position 1s ease-in-out;
}

html.slide0 { background-position: 0% 0%; }
html.slide1 { background-position: 10% 0%; }
html.slide2 { background-position: 20% 0%; }
html.slide3 { background-position: 30% 0%; }
html.slide4 { background-position: 40% 0%; }
html.slide5 { background-position: 50% 0%; }
html.slide6 { background-position: 60% 0%; }
html.slide7 { background-position: 70% 0%; }
html.slide8 { background-position: 80% 0%; }
html.slide9 { background-position: 90% 0%; }
html.slide10 { background-position: 100% 0%; }

body {
	height: 100%;
	width: 100%;
	
	background-image: -webkit-radial-gradient(50% 50%, hsla(0, 0%, 0%, 0.3), hsla(0, 0%, 0%, 0.9));
	background-image: -moz-radial-gradient(50% 50%, hsla(0, 0%, 0%, 0.00), hsla(0, 0%, 0%, 0.7));
	background-image: radial-gradient(50% 50%, hsla(0, 0%, 0%, 0.00), hsla(0, 0%, 0%, 0.7));
	
	box-shadow: inset black 0px 0px 1em;
	
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	
	overflow: hidden;
}

body {
	color: white;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 66.667%;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	text-shadow: black 0px 0px 10px;
	
	-webkit-perspective: 2000;
	-webkit-perspective-origin: 50% 50%;
}

slide {
	padding: 12vh 5vw;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	
	-webkit-transition: -webkit-transform 1s ease-in-out, opacity 1s ease-out;
	-moz-transition: -moz-transform 1s ease-in-out, opacity 1s ease-out;
	transition: transform 1s ease-in-out, opacity 1s ease-out;
	
	-webkit-transform:	rotateY( -90deg ) translateZ(-1000px) translateX(100%);
	-moz-transform:		rotateY( -90deg ) translateZ(-1000px) translateX(100%);
	transform:			rotateY( -90deg ) translateZ(-1000px) translateX(100%);
	
	opacity: 0;
}

slide.present {
	-webkit-transform:	rotateY( 0deg ) translateZ(0) translateX(0);
	-moz-transform:		rotateY( 0deg ) translateZ(0) translateX(0);
	transform:			rotateY( 0deg ) translateZ(0) translateX(0);
	
	opacity: 1;
}

slide.past {
	-webkit-transform:	rotateY( 90deg ) translateZ(-1000px) translateX(-100%);
	-moz-transform:		rotateY( 90deg ) translateZ(-1000px) translateX(-100%);
	transform:			rotateY( 90deg ) translateZ(-1000px) translateX(-100%);
	
	opacity: 0;
}

[title] {
	padding: 12vh 12vw;
}

h1 {
	font-size: 20vh;
	line-height: 25vh;
	margin-left: auto;
	margin-right: auto;
	font-weight: lighter;
	font-family: "Ostrich Sans";
}

h1 + * {
	margin-top: 0.25vh;
	padding-top: 1vh;
	border-top: solid white 1px;
}

p {
	font-size: 4.5vh;
	margin-bottom: 5vh;
}

li {
	font-size: 3vh;
	line-height: 4vh;
}

ul {
	margin-bottom: 5vh;
	padding-left: 5vh
}

ul[cols] {
	width: 40vw;
	float: left;
}

ul[cols] + ul[cols] {
	padding-left: 5vw;
}

p.byline {
	position: absolute;
	bottom: 5vh;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 0.5vh;
	color: gold;
}

.centre {
	/* text-align: center; */
}

h1.centre {
	font-weight: bold;
	font-size: 15vh;
	line-height: 17vh;
}

p.centre {
	text-transform: uppercase;
	border: none;
}

a {
	color: white;
	text-decoration: none;
}